.container10 {
  background-color: #1f1f2f;
  display: flex;
  justify-content: space-between;
  height: 6vh;
  align-items: center;
}
.container7 {
  margin: 5px;
}

.image {
  height: 20vh;
  width: 28vw;
}
.button {
  height: 4vh;
  border-radius: 20px;
}
